.respo {
  display: flex;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  margin: 10px;
  border-radius: 20px;
}

.respo1:hover {
    scale: 1.1;
}

.navbar {
  width: 100%;
  background-color: white;
}

.respo1 {
  display: flex;
  object-fit: cover;
  width: 100%;
  transition: all 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  /* margin: 10px; */
  border-radius: 20px;
}

.respo > img {
  width: 100%;
  height: 100%;
}

.respo1 > img {
  width: 100%;
  height: 100%;
}

h4 {
  background-color: red;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.col-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price {
  width: 100%;
}

.product-card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0px;
}

button {
  width: 100%;
  color: white;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 10px;
  border: none;
  background-color: #ffa500;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}

button:hover {
    background-color: white;
    color: #ffa500;
    border: 1px solid #ffa500;
}

.col-sp-bw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.footer {
  display: flex;
  background-color: #ffa500;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

footer {
  background-color: #ffa500;
  color: white;
  display: flex;
}

.link {
  padding: 3px 10px;
}

.link > a{
  text-decoration: none;
  color: white;
}

.frame {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}